akregatorrc
#alacritty
autostart
autostart-scripts
baloofilerc
bluedevilglobalrc
chromium
Code - OSS
dconf
dolphinrc
#dunst
Electron
emaildefaults
falkon
fcitx
filelightrc
#fish
gtk-2.0
gtk-3.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
#i3
i3-git
kactivitymanagerdrc
kactivitymanagerd-statsrc
katemetainfos
katerc
kateschemarc
katevirc
kconf_updaterc
kdeconnect
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
Kingsoft
kioslaverc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
manjaro
manjaro-hello.json
matplotlib
mimeapps.list
omf
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
#polybar
powermanagementprofilesrc
pulse
QtProject.conf
ranger
#rofi
sddmthemeinstallerrc
session
systemsettingsrc
tencent-qq
Thunar
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
VirtualBox
vlc
xfce4
yay
